@{
    ViewData["Title"] = "AITRIOS Console Mockup Demo";
}

<div class="container-fluid">
    <div class="row" style="padding-top:28px;">
        <!-- Camera 1 -->
        <div class="col-12 col-sm-4 col-md-4 my-col">
            <div class="header-frame">
                <div class="header-frame-inside">
                    <div id="camera_1_wifi_icon" class="WiFi-Svg-DisConnect" width="24" height="24">
                        <svg class="Wifi-Svg" width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 5.00001L2 7.00001C6.97 2.03001 15.03 2.03001 20 7.00001L22 5.00001C15.93 -1.06999 6.08 -1.06999 0 5.00001ZM8 13L11 16L14 13C12.35 11.34 9.66 11.34 8 13ZM4 9.00001L6 11C8.76 8.24001 13.24 8.24001 16 11L18 9.00001C14.14 5.14001 7.87 5.14001 4 9.00001Z" fill="currentColor" />
                        </svg>
                    </div>
                    <div class="header-camera-name font-subhead" id="camera_1_name">Loading...</div>
                    <div class="header-right-icon-frame">
                        <button type="button" class="btn btn-ai-inactive" id="btnAICamera1" onclick="btnAiClick(this)" data-streaming=false>
                            <div class="font-button-labels">AI</div>
                        </button>
                    </div>
                </div>
            </div>
            <div class="body-frame">
                <div class="body-frame-top">
                    <div class="body-frame-label font-subhead">
                        <img src="~/images/Brain.svg" alt="AI" width="20" height="20" style="vertical-align: text-top;">
                        <span class="font-subhead">AI Model</span>
                    </div>
                    <div class="body-frame-content font-labels">
                        AI Model
                        <select name="modelListCamera1" id="modelListCamera1" class="custom-select my-select font-values" style="color:#000000 !important">
                        </select>
                    </div>
                    <div class="body-frame-content font-labels" style="display:none">
                        Current Threshold
                        <div class="slider-frame">
                            <input type="range" class="slider my-slider" min="0" max="100" value="80" step="1" id="SliderConfidenceLevelCamera1">
                            <div class="slider-label-frame font-values" id="SliderConfidenceLevelCamera1Label">
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="separator"/>
                <div class="body-frame-middle">
                    <div class="body-frame-label font-subhead">
                        <img src="~/images/Bar.svg" alt="AI" width="24" height="24" style="vertical-align: text-top;">
                        <span class="font-subhead">Results</span>
                    </div>
                    <div class="body-frame-content body-frame-results font-labels">
                        <div class="body-frame-result">
                            <div class="font-labels">
                                Inference Results
                                <div class="result_label font-values" id="result_label_1" data-inferenceCount=0>0</div>
                            </div>
                        </div>
                        <div class="body-frame-result">
                            <div class="font-labels">
                                People Detected
                                <div class="result_label font-values">test</div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="separator" />
                <div class="body-frame-bottom">
                    <div class="body-frame-label font-subhead">
                        <img src="~/images/Camera.svg" alt="Image" width="24" height="24" style="vertical-align: text-top;">
                        <span class="font-subhead">Image</span>
                    </div>
                    <div class="body-frame-canvas font-labels">
                        <div class="container loader-parent my-div-image" id="canvasCamera1Container">
                            <div class="row justify-content-center align-items-center" style="margin:0;height:100%;width:100%">
                                <canvas class="my-canvas" id="canvasCamera1Overlay" style="z-index:300"></canvas>
                                <canvas class="my-canvas" id="canvasCamera1" style="z-index:100;border-color:red !important;border: thin double !important;"></canvas>
                            </div>
                            <div id="canvasCamera1LoaderWrapper" class="canvasLoaderWrapper" style="height:100%;width:100%;display:block">
                                <div class="canvasLoader">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Camera 2-->
        <div class="col-12 col-sm-4 col-md-4 my-col">
            <div class="header-frame">
                <div class="header-frame-inside">
                    <div id="camera_2_wifi_icon" class="WiFi-Svg-DisConnect" width="24" height="24">
                        <svg class="Wifi-Svg" width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 5.00001L2 7.00001C6.97 2.03001 15.03 2.03001 20 7.00001L22 5.00001C15.93 -1.06999 6.08 -1.06999 0 5.00001ZM8 13L11 16L14 13C12.35 11.34 9.66 11.34 8 13ZM4 9.00001L6 11C8.76 8.24001 13.24 8.24001 16 11L18 9.00001C14.14 5.14001 7.87 5.14001 4 9.00001Z" fill="currentColor" />
                        </svg>
                    </div>
                    <div class="header-camera-name font-subhead" id="camera_2_name">Loading...</div>
                    <div class="header-right-icon-frame">
                        <button type="button" class="btn btn-ai-inactive" id="btnAICamera2" onclick="btnAiClick(this)" data-streaming=false>
                            <div class="font-button-labels">AI</div>
                        </button>
                    </div>
                </div>
            </div>
            <div class="body-frame">
                <div class="body-frame-top">
                    <div class="body-frame-label font-subhead">
                        <img src="~/images/Brain.svg" alt="AI" width="20" height="20" style="vertical-align: text-top;">
                        <span class="font-subhead">AI Model</span>
                    </div>
                    <div class="body-frame-content font-labels">
                        AI Model
                        <select name="modelListCamera2" id="modelListCamera2" class="custom-select my-select font-values">
                        </select>
                    </div>
                    <div class="body-frame-content font-labels" style="display:none">
                        Current Threshold
                        <div class="slider-frame">
                            <input type="range" class="slider my-slider" min="0" max="100" value="80" step="1" id="SliderConfidenceLevelCamera2">
                            <div class="slider-label-frame font-values" id="SliderConfidenceLevelCamera2Label">
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="separator" />
                <div class="body-frame-middle">
                    <div class="body-frame-label font-subhead">
                        <img src="~/images/Bar.svg" alt="AI" width="24" height="24" style="vertical-align: text-top;">
                        <span class="font-subhead">Results</span>
                    </div>
                    <div class="body-frame-content body-frame-results font-labels">
                        <div class="body-frame-result">
                            <div class="font-labels">
                                Inference Results
                                <div class="result_label font-values" id="result_label_2" data-inferenceCount=0>0</div>
                            </div>
                        </div>
                        <div class="body-frame-result">
                            <div class="font-labels">
                                People Detected
                                <div class="result_label font-values">test</div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="separator" />
                <div class="body-frame-bottom">
                    <div class="body-frame-label font-subhead">
                        <img src="~/images/Camera.svg" alt="Image" width="24" height="24" style="vertical-align: text-top;">
                        <span class="font-subhead">Image</span>
                    </div>
                    <div class="body-frame-canvas font-labels">
                        <div class="container loader-parent my-div-image" id="canvasCamera2Container">
                            <div class="row justify-content-center align-items-center" style="margin:0;height:100%;width:100%">
                                <canvas class="my-canvas" id="canvasCamera2Overlay" style="z-index:300"></canvas>
                                <canvas class="my-canvas" id="canvasCamera2" style="z-index:100;border-color:red !important;border: thin double !important;"></canvas>
                            </div>
                            <div id="canvasCamera2LoaderWrapper" class="canvasLoaderWrapper" style="height:100%;width:100%;display:block">
                                <div class="canvasLoader">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Camera 3-->
        <div class="col-12 col-sm-4 col-md-4 my-col">
            <div class="header-frame">
                <div class="header-frame-inside">
                    <div id="camera_3_wifi_icon" class="WiFi-Svg-DisConnect" width="24" height="24">
                        <svg class="Wifi-Svg" width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 5.00001L2 7.00001C6.97 2.03001 15.03 2.03001 20 7.00001L22 5.00001C15.93 -1.06999 6.08 -1.06999 0 5.00001ZM8 13L11 16L14 13C12.35 11.34 9.66 11.34 8 13ZM4 9.00001L6 11C8.76 8.24001 13.24 8.24001 16 11L18 9.00001C14.14 5.14001 7.87 5.14001 4 9.00001Z" fill="currentColor" />
                        </svg>
                    </div>                    
                    <div class="header-camera-name font-subhead" id="camera_3_name">Loading...</div>
                    <div class="header-right-icon-frame">
                        <button type="button" class="btn btn-ai-inactive" id="btnAICamera3" onclick="btnAiClick(this)" data-streaming=false>
                            <div class="font-button-labels">AI</div>
                        </button>
                    </div>
                </div>
            </div>
            <div class="body-frame">
                <div class="body-frame-top">
                    <div class="body-frame-label font-subhead">
                        <img src="~/images/Brain.svg" alt="AI" width="20" height="20" style="vertical-align: text-top;">
                        <span class="font-subhead">AI Model</span>
                    </div>
                    <div class="body-frame-content font-labels">
                        AI Model
                        <select name="modelListCamera1" id="modelListCamera1" class="custom-select my-select font-values" style="color:#000000 !important">
                            @*<select class="form-control select2 font-values my-select" style="color:#000000 !important">*@
                        </select>
                    </div>
                    <div class="body-frame-content font-labels" style="display:none">
                        Current Threshold
                        <div class="slider-frame">
                            <input type="range" class="slider my-slider" min="0" max="100" value="80" step="1" id="SliderConfidenceLevelCamera3">
                            <div class="slider-label-frame font-values" id="SliderConfidenceLevelCamera3Label">
                                12%
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="separator" />
                <div class="body-frame-middle">
                    <div class="body-frame-label font-subhead">
                        <img src="~/images/Bar.svg" alt="AI" width="24" height="24" style="vertical-align: text-top;">
                        <span class="font-subhead">Results</span>
                    </div>
                    <div class="body-frame-content body-frame-results font-labels">
                        <div class="body-frame-result">
                            <div class="font-labels">
                                Inference Results
                                <div class="result_label font-values" id="result_label_3" data-inferenceCount=0>0</div>
                            </div>
                        </div>
                        <div class="body-frame-result">
                            <div class="font-labels">
                                People Detected
                                <div class="result_label font-values">test</div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="separator" />
                <div class="body-frame-bottom">
                    <div class="body-frame-label font-subhead">
                        <img src="~/images/Camera.svg" alt="Image" width="24" height="24" style="vertical-align: text-top;">
                        <span class="font-subhead">Image</span>
                    </div>
                    <div class="body-frame-canvas font-labels">
                        <div class="container loader-parent my-div-image" id="canvasCamera3Container">
                            <div class="row justify-content-center align-items-center" style="margin:0;height:100%;width:100%">
                                <canvas class="my-canvas" id="canvasCamera3Overlay" style="z-index:300"></canvas>
                                <canvas class="my-canvas" id="canvasCamera3" style="z-index:100;border-color:red !important;border: thin double !important;"></canvas>
                            </div>
                            <div id="canvasCamera3LoaderWrapper" class="canvasLoaderWrapper" style="height:100%;width:100%;display:block">
                                <div class="canvasLoader">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="divLog" class="row" style="padding-top:28px;">
        <div class="col-12 col-sm-12 col-md-12 my-col">
            <div class="header-frame">
                <div class="header-frame-inside">
                    <img src="~/images/Logs.svg" alt="AI" width="24" height="24" style="vertical-align: text-top;margin-right:8px">
                    <div class="header-camera-name font-subhead">Logs</div>
                    <div class="header-right-icon-frame">
                        <button type="button" class="btn" id="btnClearLogs" style="color:#ffffff;display:flex">
@*                            <i class="far fa-trash-alt btn-fa"></i>Clear*@
                            <img src="~/images/Trash.svg" alt="AI" width="24" height="24" style="vertical-align: text-top;margin-right:8px">
                            <div class="font-text-actions">Clear</div>
                        </button>
                    </div>
                </div>
            </div>
            <div class="body-frame">
                <textarea id="txAreaStatus" class="txArea-log font-monospace" title="Log Display Area"></textarea>
            </div>
        </div>
    </div>
</div>

@section scripts
    {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script type="text/javascript" src="/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script type="text/javascript" src="/js/site.js"></script>


    <script type="text/javascript">

        let canvasCamera1;
        let canvasContextCamera1;
        let resizeObserver;
        let sliderThresholdCamera1 = document.getElementById("SliderConfidenceLevelCamera1");
        let sliderThresholdCamera2 = document.getElementById("SliderConfidenceLevelCamera2");
        let sliderThresholdCamera3 = document.getElementById("SliderConfidenceLevelCamera3");
        let sliderThresholdValueCamera1 = document.getElementById("SliderConfidenceLevelCamera1Label");
        let sliderThresholdValueCamera2 = document.getElementById("SliderConfidenceLevelCamera2Label");
        let sliderThresholdValueCamera3 = document.getElementById("SliderConfidenceLevelCamera3Label");
        let signalRHub;

        window.onload = function () {
        };

        $(document).ready(function () {

            let camera1_id = '@(ViewData["Camera1_ID"])';
            let camera2_id = '@(ViewData["Camera2_ID"])'
            let camera3_id = '@(ViewData["Camera3_ID"])';

            //
            //
            // Slider
            //
            //SliderConfidenceLevelCamera1Label.innerHTML = `${SliderConfidenceLevelCamera1.value}%`;
            //SliderConfidenceLevelCamera2Label.innerHTML = `${SliderConfidenceLevelCamera2.value}%`;
            //SliderConfidenceLevelCamera3Label.innerHTML = `${SliderConfidenceLevelCamera3.value}%`;

            //sliderThresholdCamera1.addEventListener("input", processSliderInput, false);
            //sliderThresholdCamera2.addEventListener("input", processSliderInput, false);
            //sliderThresholdCamera3.addEventListener("input", processSliderInput, false);

            $("input[data-bootstrap-switch]").each(function () {
                $(this).bootstrapSwitch('state', $(this).prop('checked'));
            })

            $('.sidebar-mini').removeClass('sidebar-open');
            $('.sidebar-mini').addClass('sidebar-closed sidebar-collapse');

            initCanvas('canvasCamera1');
            initCanvas('canvasCamera2');
            initCanvas('canvasCamera3');

            document.getElementById("txAreaStatus").value = '';

            // SignalR
            signalRHub = new signalR.HubConnectionBuilder()
                .withUrl("/hub")
                .configureLogging(signalR.LogLevel.Information)
                .build();

            signalRHub.start()
                .then(() => console.log('SignalR connected!'))
                .catch(err => console.log(`Error while establishing a connection : ${err.toString()}`));

            signalRHub.on('deviceTelemetry', function (payload) {

                processTelemetry(payload);
            });

            new ResizeObserver(canvasResize).observe(document.getElementById('canvasCamera3Container'));

            //const canvas = document.getElementsByTagName('canvasCamera3Container')[0];
            //const observer = new ResizeObserver(onResize);
            //observer.observe(canvas);

            UpdateCameraNames('@(ViewData["Camera_1_ID"])', '@(ViewData["Camera_2_ID"])', '@(ViewData["Camera_3_ID"])');
           
        });

        function getDate(dateString) {
            var date = new Date(Date.UTC(dateString.substr(0, 4), dateString.substr(4, 2), dateString.substr(6, 2), dateString.substr(8, 2), dateString.substr(10, 2), dateString.substr(12, 2), dateString.substr(14, 3)));
            return date;
        }

        $('#btnClearLogs').click(function (evt) {
            document.getElementById('txAreaStatus').value = null;
            var message = '@ViewData["Camera_1_ID"]';
            console.debug(message);
        })

        var resizeIt = function () {
            console.log("Resize");
            //var size = calculateAspectRatioFit($canvas.width(), $canvas.height(), $container.width(), $container.height());

            //$canvas.css('height', size.height);
            //$canvas.css('width', size.width);
        };

        function canvasResize(test) {
            //let container = $('#canvasCamera3Container');
            //console.log(`${container.innerWidth()} x ${container.innerHeight()}`);
            //var canvas = document.getElementById('canvasCamera3');
            //var ctx = canvas.getContext("2d");

            //let data = ctx.getImageData();
            //canvas.width = `${container.innerWidth()}px`;
            //canvas.style.height = `${container.innerHeight()}px`;
            //ctx.putImageData(data);
        }

        function StartInference() {

            StartInferences('@(ViewData["Camera_1_ID"])', '@(ViewData["Camera_2_ID"])', '@(ViewData["Camera_3_ID"])');
        }
    </script>
}